.font {
  font-size: var(--font-size-normal);
  font-weight: normal;
  font-style: normal;

  white-space: normal;
  line-height: 26px;
}
.font-h1 {
  font-size: var(--font-size-large);
}

.font-h2 {
  font-size: var(--font-size-medium);
}

.font-h3 {
  font-size: var(--font-size-normal);
}

.font-h4 {
  font-size: var(--font-size-small);
}

.font-size-xsmall {
  font-size: 13px;
}
.font-size-small {
  font-size: 14px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-normal {
  font-size: normal;
}

.font-size-large {
  font-size: 20px;
}

.font-size-larger {
  font-size: 22px;
}

.font-weight-light {
  font-weight: 300;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-semi-bold {
  font-weight: 500;
}
.font-align-left {
  text-align: left;
}
.font-align-center {
  text-align: center;
}
.font-align-right {
  text-align: right;
}

.font-line-xsmall {
  line-height: var(--spacing-xsmall);
}

.font-line-small {
  line-height: var(--spacing-small);
}

.font-line-medium {
  line-height: var(--spacing-medium);
}

.font-line-large {
  line-height: var(--spacing-large);
}

.font-line-xlarge {
  line-height: var(--spacing-xlarge);
}
