@define-mixin color {
  &.color {
    > svg {
      path,
      circle {
        fill: currentColor;
      }

      &[fill='none'] {
        path,
        circle {
          fill: none;
        }
      }
    }
  }
}

.color-black {
  color: var(--black);
}
